/* Hero section */
/* .cxu--hero-slider.style-1 .title {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
}

.cxu--hero-slider.style-1 .text {
    font-family: 'Inter', sans-serif !important;
} */

